body {
    margin: 0px;
    padding: 0px;
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("assets/images/sun-pattern.png");
    background-color: #cccccc;
}

header{
    font-size: 20px;
    font-family: Georgia, Times, Times New Roman serif;
    border-bottom: 2px solid #cccccc;
    background-color:#ffffff
}
.MainLogo {
    background: #4aaaa5;
    color: #ffffff;
    display: inline;
    margin-left: 185px;

}

.navigation {
    padding-bottom: 15px;
    margin-right: 185px;
    letter-spacing: 2px;
    float: right;
    font-size: 12px;
    line-height: 20px;
}

.active {
    color:blue
}

.sectionh2 {
    border-bottom: 2px solid #cccccc;
}

#MainContent {
    margin: auto;
    text-align: left;
    padding: 20px;
    width: 960px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

#SamanthasPic {
    float: left;
    padding-right: 10px;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    display: inline;
}

footer {
    clear: both;
    background: #666666;
    padding: 15px;
    margin: 0px;
    text-align: center;
    font-size: 12px;
    border-top: 5px solid #4aaaa5;
}

