body {
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: 'Handlee', cursive;
    background-image: url("../images/abstract.png");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

header{
    font-size: 20px;
    font-family: 'Merienda', cursive;
    border-bottom: 2px solid #cccccc;
    background-color: black;
    color: Black;
    padding-bottom: 20px;
}

.MainLogo {
    background: hsla(306, 70%, 52%, 0.89);
    color: black;
    display: inline;
    margin-left: 185px;
    padding-bottom: 15px;
    padding-top: 5px;

}

.navigation {
    padding-bottom: 15px;
    margin-right: 185px;
    letter-spacing: 2px;
    float: right;
    font-size: 18px;
    line-height: 20px;
}

.navigation li {
    display: inline-block;
    border-right: 2px solid #0b08a5;
    padding-right: 2px;
}

.navigation li:last-of-type {
    border-right: none;
}

.navigation li a {
    text-decoration: none;
    color: purple;

}
.navigation li a:hover {
  color: blue;
}


.active {
    color:blue
}

.sectionh2 {
    border-bottom: 2px solid #cccccc;
}

#MainContent {
    margin: auto;
    text-align: left;
    padding: 20px;
    width: 960px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    margin-bottom: 75px;
    margin-top: 75px;
    overflow: auto;
}

#SamanthasPic {
    float: left;
    padding-right: 10px;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

/* font-family: 'Merienda', cursive;
font-family: 'Handlee', cursive;
} */

footer {
    clear: both;
    background: #666666;
    padding: 15px;
    margin: 0px;
    text-align: center;
    font-size: 12px;
    border-top: 5px solid #4aaaa5;
}
input[type=text], select, textarea {
    width: 960px;
    padding: 12px; 
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: darkblue;
}

.gallery {
    background: #ffffff;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
} 

.gallery a {
    display: inline-block;
}

.desc {
    background: #4aaaa5;
    color: #ffffff;
    padding: 10px;
    width: 278px;
    border: 1px solid #cccccc;
    position: absolute;
    bottom: 8%;
}

.fa-bug {
    font-size: 16px;
    color: darkmagenta;
}

.fa-check {
    font-size: 16px;
    color: darkmagenta;

}

.trivia {
    margin: 0;
}
